<html>
    <head>
        <title>OnFleet</title>
        <style>
           .map {
            height: 200px;
            width: 200px;
           }
           #map {
            height: 200px;
            width: 200px;
           }
          .title {
            display: flex;
            align-items: flex-end;
          }
          h1 {
            margin-right: 15px;
          }
          .section {
            margin-top: 75px;
            padding: 30px;
            margin-bottom: 20px;
            border-top: thin solid grey;
            width: 100%;
            box-sizing: border-box;
          }
          .table-section {
            border-top: thin solid grey;
            padding: 30px;
          }
          table {
            width: 100%;
          }
        </style>
        <link rel="stylesheet" type="text/css" href="landing.css">
        <link rel="stylesheet" type="text/css" href="dashboard.css">
    </head>
    <body>
        <div class="login">
            <div class="left-bar">
                <div class="logo-container">
                    <img src="car.png">
                    <span>OnFleet</span>
                </div>
            </div>
            <div class="right-bar">
                <div class="options-container">
                    <div class="learn-more">
                        <span>Help</span>
                        <div class="dot"></div>
                    </div>
                    <div class="login-button" onclick="window.location.href='/'">
                        <span>Sign Out</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="section">
            <h3>Connect More Cars</h3>
            {{#each availableMakes}}
            <a href="{{url}}"><button>Connect {{label}}</button></a>
            {{/each}}
        </div>
        {{#if carsConnected}}
        <div class="table-section">
            <table class='table-striped'>
                <tbody>
                    <tr>
                        <th>Name</th>
                        <th>Engine Status</th>
                        <th>Current User</th>
                        <th>Stop Engine</th>
                        <th>Location</th>
                    </tr>
                    {{#each vehicleDataMap}}
                    <tr>
                        <td>{{name}}</td>
                        <td>{{engineState}}</td>
                        <td>{{currentUser}}</td>
                        <td><form action="/stop/{{vid}}" method="post"><button>{{ignitionButtonText}}</button></form></td>
                        <td><div class="map" data-latitude="{{latitude}}" data-longitude="{{longitude}}"></div></td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
        {{/if}}
        <div id="map"></div>
        <script>
          function initMap() {
            var uluru = {lat: -25.363, lng: 131.044};
            var maps = document.getElementsByClassName('map');
            for (let i = 0; i < maps.length; i++) {
                var mapDiv = maps[i];
                var location = {lat: Number(mapDiv.dataset.latitude), lng: Number(mapDiv.dataset.longitude)};
                var map = new google.maps.Map(mapDiv, {
                  zoom: 4,
                  center: location
                });
                var marker = new google.maps.Marker({
                  position: location,
                  map: map
                });
            }
          }
        </script>
        <script async defer
                src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDSJIh5OIt8-m1mNae11Ay2XoFtDJQoy48&callback=initMap">
        </script>
    </body>
</html>

